In [ ]:
nums1 = [1,2] # m
nums2 = [3,4] # n

num=nums1+nums2
num.sort()
print(num)
n=len(num)

if n%2==1:
  print(num[n//2])
else:
  mid1=num[n//2 -1 ]
  mid2=num[n//2]
  print((mid1+mid2)/2)

[1, 2, 3, 4]
2.5

In [ ]:
import statistics

data = [1,2,3,4]

median = statistics.median(data)

print(f"Median of odd-length list: {median}")

Median of odd-length list: 2.5

In [ ]:
# single number
num=[1,1,2,3,3]
num.sort()
n=len(num)
i=0
if n<=1:
  print(num[0])

for j in range(1,n,2):
  if num[i]==num[j]:
    i+=2
  else:
    print(num[i])
    break
  if i==num.index(num[-1]):
    print(num[i])

2

In [ ]:
n=2147483645
k=2
count=1
while n>1:
  qut, remd = divmod(n , k)
  n=qut;
  if remd==1:
    count+=1
print(count)

30

In [ ]:
from binascii import hexlify
# Container with most water

heights=[1,1]
i, j = 0 , len(heights)-1
max_area=0

while i<j:
  height=min(heights[i], heights[j])
  width=j-i
  area=height*width

  if area > max_area:
    max_area=area

  if heights[i]<heights[j]:
    i+=1
  else:
    j-=1

print(max_area)

1

In [ ]:
# Remove element

nums = [3,2,3,5,7,2,8,6]
val = 2
k=0
for i in range(len(nums)):
  if nums[i]!=val:
    nums[k]=nums[i]
    k+=1
print(k)

6

In [ ]:
def removeElement(self, nums: List[int], val: int) -> int:
        count=0
        for x in nums:
            if x==val:
                nums.remove(x)
            else:
                count+=1
        return count
removeElement(nums=[3,2,2,3], val=3)

NameError: name 'List' is not defined

In [ ]:
# reverser Bits

bit=1111111111111111111111111111111
str_bit=str(bit)
rev_bit=int(str_bit[::-1])

for i in range(-1, 32, ):

SyntaxError: incomplete input (ipython-input-10-180792932.py, line 7)

In [ ]:
nums = [4,5,6,7,0,3,1,2]
target = 0
# Output: 4

mid=nums[len(nums)//2]
print(mid)

while n
if target==mid:
  print()

0

In [ ]:
nums = [3,30,34,5,9]
# "9534330"
num=str(nums[::-1])
res="".join(num)
print(res)

<class 'str'>
[9, 5, 34, 30, 3]

In [ ]:
p="()[]{}"

j=-1

for i in range()

In [ ]:
haystack = "sadbutsad"
needle = "sad"
# Output: 0
n=len(needle)
i=0
while n<0:
  if num[i]

In [ ]:
hash(24)

24

In [ ]:
abs(hash("Saurabh"))%

2

In [ ]:
# reverse integer

x=-123
ans=0
int_min=(-2**31)
int_max=(2**31)-1

sign = -1 if x<0 else 1
x=abs(x)
while x != 0:
  digit=x%10
  ans=(ans*10)+digit
  x=x//10

ans*=sign

if int_min<=ans<=int_max:
  print(ans)
else:
  print(0)

-321

In [ ]:
2^2

0

In [ ]:
num1 = "123"
num2 = "456"
# Output: "56088"

nums1=int(num1)
nums2=int(num2)
res=nums1*nums2
print(type(str(res)))

<class 'str'>

In [ ]:
x=2.00000
n = -2

print(x**n)

0.25

In [ ]:
# points = [[1,1],[2,2],[3,3]]
# Output: 3


points = [[1,1],[3,2],[5,3],[4,1],[2,3],[1,4]]
# Output = 4

In [ ]:
n = 19
# Output: true
# Explanation:
# 12 + 92 = 82
# 82 + 22 = 68
# 62 + 82 = 100
# 12 + 02 + 02 = 1
stn=str(n)

TypeError: 'int' object is not iterable

In [ ]:
n = 3
# Output: true
# Explanation: 2^4 = 16
if n<1:
  print(False)
else:
  while n%2==0:
    n = n//2
  if n==1:
    print(True)
  else:
    print(False)

False

In [ ]:
# count prime
n = 4
# Output: 4
if n<=1:
  print(0)
if n==2 or n==3:
  print(1)

if n>3:

SyntaxError: incomplete input (ipython-input-82-1702853551.py, line 11)

In [ ]:
digits = [1,2,3,5,9]
# Output: [4,3,2,2]

i=len(digits)-1

while i>=0:
  if digits[i]<9:
    digits[i]+=1
    print(digits)
    break
  digits[i]=0
  i-=1
else:
  print([1]+digits)
# if i<0:
#   digits.insert(0,1)

# print(digits)

[1, 2, 3, 6, 0]

In [ ]:
# Hash Table

class Dictionary:
  def __init__(self, size):
    self.size=size
    self.slots=[None]*self.size
    self.data=[None]*self.size

  def put(self, key, value):
    hash_value = self.hash_function(key)

    if self.slots[hash_value]==None:
      self.slots[hash_value]=key
      self.data[hash_value]=data

    else:
      if self.slots[hash_value]==key:
        self.data[hash_value]=value
      else:
        new_hash_value = self.rehash(hash_value)

        while self.slots[new_hash_value]==None and self.slots[new_hash_value]!=key:
          new_hash_value=self.rehash(new_hash_value)

        if self.slots[new_hash_value]==None:
          self.slots[new_hash_value]=key
          self.data[new_hash_value]=data

        else:
          self.data[new_hash_value]=value

  def __setitem__(self, key, value):
    self.put(key, value)

  def rehash(self, old_hash):
    return (old_hash + 1) % self.size

  def hash_function(self, key):
    return abs(hash(key))%self.size

In [ ]:
D1 = Dictionary(4)

In [ ]:
print(D1.slots)
print(D1.data)

['G', None, 'GGa', 'GG']
[57, None, 57, 57]

In [ ]:
D1['GGa'] = 57

In [ ]:
D1['G'] = 57

In [ ]:
D1['GG'] = 57

In [ ]:
D1['GGaa'] = 57

In [ ]:
# count one

n = 13
# 6
count=0
for i in range(1,n):
  if i == 1 or

SyntaxError: incomplete input (ipython-input-58-400915688.py, line 6)

In [ ]:
s='([]{})'

mapping={')':'(' , ']':'[', '}':'{'}
stack=[]

for char in s:
  # if it's open bracket
  if char in mapping.values():
    stack.append(char)
  # if it's cloed bracket
  elif char in mapping:
    if stack[-1] == mapping[char]:
      stack.pop()
if len(stack)==0:
  print(True)
else:
  print(False)

True

In [ ]:
dic={1:'ram', 2:'siyam', 3:'garm'}
stack=['ram', 'siyam', 'gram']
for char in dic:
  if not stack or stack[-1] != dic[char]:
    print(False)
  else:
    print(True)

False
False
False

In [ ]:
# MinStack

class MinStack:

  def __init__(self):
    self.stack=[]
    self.minStack=[]

  def push(self, val):
    self.stack.append(val)
    if self.minStack:
      self.minStack.append(min(val, self.minStack[-1]))
    else:
      self.minStack.append(val)

  def pop(self):
    self.stack.pop()
    self.minStack.pop()

  def top(self):
    return self.stack[-1]

  def getMin(self):
    return self.minStack[-1]

In [ ]:
minstack = MinStack()

In [ ]:
minstack.push(-3)

In [ ]:
minstack.getMin()

-3

In [ ]:
minstack.pop()

In [ ]:
minstack.top()

0

In [ ]:
minstack.getMin()

-2

In [ ]:
# nums = [1,3,5,6]
# target = 7
# Output: 4

# nums = [1,3,5,6]
# target = 2
# Output: 1


# Output: 2

# nums = [1,3,5,6,7]
# target = 2

nums = [1,3,5,6]
target = 5

left, right = 0, len(nums)-1

while left<=right:
  mid = len(nums)//2

  if target == nums[mid]:
    print(mid)
    break

  elif target<nums[mid]:
    right = mid - 1
  else:
    left = mid + 1

print(left)

2
0

In [ ]:
nums = [1]

# Output: 8

n=len(nums)
nums.sort()

expect=0
for i in range(0, n):
  if nums[i]==expect:
    expect+=1
  else:
    print(i)
    break
else:
  print(expect)

0

In [16]:
# Find Duplicates

nums = [1,1,1,3,3,4,3,2,4,2]
nums.sort()
print(nums)
i=0
while i<len(nums)-1:
  if nums[i] != nums[i+1]:
    i+=1
  else:
    print(True)
    break
else:
  print(False)

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4]
True