In [ ]:
# maximum size subarray

nums = [3,2,2,1]

for i in range(len(nums)):
  if nums[i]!=

1

In [ ]:
# color sort

nums = [0,0,1,1,1,0,2,2,2,2]
srt=0
mid=0
end=len(nums)-1

while mid<=end:
  if nums[mid]==0:
    nums[srt] , nums[mid] = nums[mid], nums[srt]
    srt+=1; mid+=1
  elif nums[mid]==1:
    mid+=1
  else:
    nums[mid], nums[end] = nums[end], nums[mid]
    end-=1
print(nums)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 2]

In [ ]:
s1 = "Hello World"
# Output: 5

s2 = "   fly me   to   the moon  "
# Output: 4

s3 = "luffy is still joyboy"
# Output: 6

s3.strip()
word=s3.split()
lst_word=word[-1]
print(len(lst_word))

6

In [ ]:
x = 27
# Output: 2
[1,2,3,4,5,6,7,]

for i in range(1, x):
  if x == 0:
    print(0)
  left, right = 1, x
  while left <= right:
    mid = (left+right)//2

In [ ]:
# 258 add digits

num = 0
# Output: 2
# Explanation: The process is
# 38 --> 3 + 8 --> 11
# 11 --> 1 + 1 --> 2
# Since 2 has only one digit, return it.
# # Follow up: Could you do it without any loop/recursion in O(1) runtime?

# total_sum = sum(map(int, str(num)))
# while total_sum>=10:
#     total_sum=sum(map(int, str(total_sum)))
# print(total_sum)

# optimal solution

if num==0:
  print(0)

digit_root=num%9
print(9) if digit_root == 0 else print(digit_root)

0
9

In [ ]:
s1 = ["h","e","l","l","o"]
# Output: ["o","l","l","e","h"]


s2 = ["H","a","n","n","a","h"]
# Output: ["h","a","n","n","a","H"]

def reversed
s2[::-1]

['h', 'a', 'n', 'n', 'a', 'H']

In [ ]:
# Valid Anagram

s = "anagram"
t = "nagaram"

# if len(s)!=len(t):
  # print(False)


s1=sorted(s)
t1=sorted(t)

print(s1, t1)

['a', 'a', 'a', 'g', 'm', 'n', 'r'] ['a', 'a', 'a', 'g', 'm', 'n', 'r']

In [ ]:
# add strings

num1 = "11"; num2 = "123"
Output: "134"

# nu1=
# nu2=

print(str(int(num1)+int(num2)))

134

In [ ]:
num1 = "11"; num2 = "123"
Output: "134"

i, j = len(num1)-1 , len(num2)-1
carry=0
result=[]

while i>=0 or j>=0 or carry:
  dig1 = int(num1[i]) if i>=0 else 0
  dig2 = int(num2[j]) if j>=0 else 0

  total = dig1+dig2+carry
  carry = total//10
  result.append(str(total%10))

  i-=1
  j-=1

print("".join(reversed(result)))

134

In [ ]:
# vaild words
word="23"

ary=set('0123456789')
vowel     = set('aeiouAEIOU')
consonant = set('bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ')




if len(word)<3:
  print(False)
for ch in word:
  if ch not in allowed:
    print(False)
  print(True)

False
True
True

In [ ]:
pattern = "abba"
s = "dog cat cat dog"

# Output: true

if len(pattern)!=len(s):
  print(False)

i=0

for ch in s.split():
  if

In [ ]:
s = "dog cat cat dog"

for ch in s.split():
  print(ch)

dog
cat
cat
dog

In [ ]:
s = ""
t = "a"
# Output: "e"

res=0

for ch in s:
  res ^= ord(ch)
for ch in t:
  res ^= ord(ch)
print(chr(res))

a

In [ ]:
# Merge sorted list

list1 = [1,2,4]
list2 = [1,3,4]
# Output: [1,1,2,3,4,4]

def __init__(self, val=0, next=None):
  self.val = val
  self.next = next

def megrelist(list1, list2):
  dummy=List

[1, 1, 2, 3, 4, 4]

In [ ]:
# First occurances

haystack = "sadbutsad", needle = "sad"
# Output: 0
# Explanation: "sad" occurs at index 0 and 6.
# The first occurrence is at index 0, so we return 0.

haystack = "leetcode", needle = "leeto"
# Output: -1
# Explanation: "leeto" did not occur in "leetcode", so we return -1.

In [ ]:
# Pascal's Triangle

numRows = 6
# Output: [[1],[1,1],[1,2,1],[1,3,3,1],[1,4,6,4,1]]

res=[[1]]

for i in range(numRows-1):
  temp = [0] + res[-1] + [0]
  row = []
  for j in range(len(res[-1])+1):
    row.append(temp[j]+temp[j+1])
  res.append(row)

print(res)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [ ]:
# 3sum

# nums = [-1,0,1,2,-1,-4]
# Output: [[-1,-1,2],[-1,0,1]]
# nums[0] + nums[1] + nums[2] = (-1) + 0 + 1 = 0.
# nums[1] + nums[2] + nums[4] = 0 + 1 + (-1) = 0.
# nums[0] + nums[3] + nums[4] = (-1) + 2 + (-1) = 0.
# The distinct triplets are [-1,0,1] and [-1,-1,2].

# nums = [0,1,1]
# Output: []
# Explanation: The only possible triplet does not sum up to 0.

nums=[1,-1,-1,0]
# Output: [[0,0,0]]
# Explanation: The only possible triplet sums up to 0.

nums.sort()
n = len(nums)
res = []

for i in range(n-2):
  if i>0 and nums[i] == nums[i-1]:
    continue

  l, r = i+1, n-1
  while l < r:
    sum = nums[i]+nums[l]+nums[r]

    if sum<0:
      l+=1
    elif sum>0:
      r-=1
    else:
      res.append([nums[i], nums[l], nums[r]])

      while l<r and nums[l]==nums[l+1]:
        l+=1

      while l<r and nums[r]==nums[r-1]:
        r-=1

      l+=1
      r-=1

print(res)

[[-1, 0, 1]]

In [ ]:
## Zig zag conversation

# Input: s = "PAYPALISHIRING"
# numRows = 3
# P   A   H   N
# A P L S I I G
# Y   I   R
# Output: "PAHNAPLSIIGYIR"


s = "PAYPALISHIRING"
numRows = 4
# Output: "PINALSIGYAHRPI"
# Explanation:
# P     I    N
# A   L S  I G
# Y A   H R
# P     I

if numRows==1 or numRows>=len(s):
  print(s)

# create an arrat

rows=['']*numRows
current_row = 0
going_down = False

for char in s:
  rows[current_row] += char

  if current_row == 0 or current_row == numRows-1:
    going_down = not going_down

  current_row += 1 if going_down else -1

print(rows)
print("".join(rows))
# s = "A"
# numRows = 1
# Output: "A"

['PIN', 'ALSIG', 'YAHR', 'PI']
PINALSIGYAHRPI

In [ ]:
# Longest Substring Without Repeating Characters
s = "pwwkew"
st=set(s)
# Output: 3
# Explanation: The answer is "wke", with the length of 3.
# Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.

mxln=1
i=0
for j in range(1, len(st)):
  if s[i]!=s[j]:
    mxln+=1
    i+=1
  else:
    mxln=1
print(mxln)
print(st)

2
{'w', 'p', 'k', 'e'}

In [ ]:

char_set = set()
left = 0
max_len = 0

for right in range(len(s)):
  while s[right] in char_set:
    char_set.remove(s[left])
    left += 1
    char_set.add(s[right])
    max_len = max(max_len, right - left + 1)
print(max_len)

In [ ]:
# 3. Longest Substring Without Repeating Characters
# Given a string s, find the length of the longest substring without duplicate characters.

# s = "abcabcbb"
# Output: 3
# Explanation: The answer is "abc", with the length of 3.

# s = "bbbbb"
# Output: 1
# Explanation: The answer is "b", with the length of 1.

s = "pwwkewpwpesw"
# Output: 3
# Explanation: The answer is "wke", with the length of 3.
# Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.

charSet=set()
mx = 0
l = 0

for r in range(len(s)):
  while s[r] in charSet:
    charSet.remove(s[l])
    l+=1
  charSet.add(s[r])
  mx = max(mx, r-l+1)
print(mx)

4

In [ ]:
import math
a = 3
b = 4

mx = max(a, b)
print(mx)

4

In [ ]:
num1 = 15
num2 = 27

maximum_number = max(num1, num2)
print(f"The maximum of {num1} and {num2} is: {maximum_number}")

The maximum of 15 and 27 is: 27

In [ ]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

node1 = Node(10)
node2 = Node(20)
node3 = Node(30)
node4 = Node(40)
node5 = Node(50)
node6 = Node(60)


head = node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5
node5.next = node6

current = node1
while current is not None:
  print(current.data, end='-->')
  current = current.next
print(None)


# adding new node at the beganing
new_node = Node(0)
new_node.next = head
head = new_node

current = head
while current is not None:
  print(current.data, end='-->')
  current = current.next
print(None)

10-->20-->30-->40-->50-->60-->None
0-->10-->20-->30-->40-->50-->60-->None

In [ ]:
class Node:
  def __init__(self, val):
    self.val = val
    self.next = None

#create node
node1=Node(1)
node2=Node(1)
node3=Node(2)
node4=Node(3)
node5=Node(3)

#connect
head=node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

#print linked list
current = head
while current is not None:
  print(current.val, end='->')
  current = current.next
print(None)

#remove duplicates
current = head
while current and current.next:
  if current.val == current.next.val:
    current.next = current.next.next
  else:
    current = current.next

#print linked list
current = head
while current is not None:
  print(current.val, end='->')
  current = current.next

1->1->2->3->3->None
1->2->3->

In [ ]:
# 19. Remove Nth Node From End of List

head = [1,2,3,4,5]
# Output: [1,2,3,5]

class Node:
  def __init__(self, val) -> None:
    self.val = val
    self.next = None

node1 = Node(1)
node2 = Node(2)
node3 = Node(3)
node4 = Node(4)
node5 = Node(5)

head = node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

current = head
while current is not None:
  print(current.val, end='->')
  current = current.next

n = 2
while current and current.next:

1->2->3->4->5->

In [ ]:
# 5. Longest Palindromic Substring

s = "babad"
# Output: "bab"
# Explanation: "aba" is also a valid answer.

left = 0
right = len(s)-1

while left<right:
  if

In [ ]:
# 2210. Count Hills and Valleys in an Array
nums = [2, 4, 1, 1, 1, 6, 5]
n = len(nums)
res=0

for j in range(1, n-1):
  if nums[j]==nums[j-1]:
    continue

  i = j-1
  while i>=0 and nums[i]==nums[j]:
    i-=1
  if i<0:
    continue

  left_val = nums[i]

  i = j+1
  while i<n and nums[i]==nums[j]:
    i+=1
  if i>=n:
    continue

  right_val = nums[i]

  if nums[j]>left_val and nums[j]>right_val:
    res+=1
  elif nums[j]<left_val and nums[j]<right_val:
    res+=1
print(res)

3

In [ ]:
my_set = {1, 2, 3}
for item in my_set:
    print(item)

1
2
3

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(dict.fromkeys(my_list))
print(unique_list) # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 2, 3, 6 , 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list) # Output: [1, 2, 3, 4, 5] (order may vary)

[1, 2, 3, 4, 5, 6]

In [ ]:
class Node:
  def __init__(self, val):
    self.val = val
    self.next = None

node1 = Node(1)
node2 = Node(2)
node3 = Node(3)
node4 = Node(4)
node5 = Node(5)

head = node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

current = head
while current is not None:
  print(current.val, end='->')
  current = current.next
print(None)

#Swap the element
dummy = Node(0)
dummy.next = head
prev = dummy

while prev.next and prev.next.next:
  first = prev.next
  second = prev.next.next

  prev.next = second
  first.next = second.next
  second.next = first

  prev = first
head = dummy.next

current = head
while current is not None:
  print(current.val, end='->')
  current = current.next
print(None)

# Output: [2,1,3]

1->2->3->4->5->None
2->1->4->3->5->None

In [ ]:
class Node:
  def __init__(self, val):
    self.val = val
    self.next = None

#create node
node1=Node(1)
node2=Node(1)
node3=Node(2)
node4=Node(3)
node5=Node(3)

#connect
head=node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

#print linked list
current = head
while current is not None:
  print(current.val, end='->')
  current = current.next
print(None)

In [ ]:
head = [1,2,3,4,5]
k = 2
# Output: [4,5,1,2,3]

class Node:
  def __init__(self, val):
    self.val = val
    self.next = None

node1 = Node(1)
node2 = Node(2)
node3 = Node(3)
node4 = Node(4)
node5 = Node(5)

head = node1
node1.next = node2
node2.next = node3
node3.next = node4
node4.next = node5

count = 0
current = head
while current is not None:
  print(current.val, end='-->')
  current = current.next
  count+=1
print(None)

print(count)

1-->2-->3-->4-->5-->None
5

3